.cha{
    flex:0.8;
    background-color: rgb(238, 234, 234);
    height: 555px;
}
.head{
    display:flex;
    align-items: center;
    height: 200px;
    background-color: rgb(247, 244, 244);
}

.head1{
    display:flex;
    align-items: center;
}

.avatar{
    /* size: 200px; */
    margin-right: 10px;
    margin-left: 30px;
}

.user > h4{
    font-size: 30px;
    font-weight:400;
}

.user >  p{
    font-weight: 400;
    color: black;
    font-size: 15px;
}

.user{
    margin-right: 700px;
}

button{
    background-color: lightseagreen;
    color: white;
    font-weight: 600;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.body > h4{ 
    margin-left: 20px;
    margin-top: 20px;
}