.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    padding-top: 0;
    z-index: 100;
    background-color: white;
}

.header_logo{
    height: 30px;
    object-fit: contain;
}
.header_inputbutton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: grey;
}
.header_input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgrey;
}
.header_right1{
    margin-right: 10px;
}
.header_right2{
    margin-right: 10px;
}
.header_right3{
    margin-right: 10px;
    height:5px;
}
.header_left{
    display: flex;
    align-items: center;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_input > input{
    flex: 1;
    border: none;
}

.but{
    background-color:blue;
    margin-top: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 9px 25px;
}