.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    padding-top: 0;
    z-index: 100;
    background-color: white;
}

.header_logo{
    height: 30px;
    object-fit: contain;
}
.header_inputbutton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: grey;
}
.header_input{
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgrey;
}
.header_right1{
    margin-right: 10px;
}
.header_right2{
    margin-right: 10px;
}
.header_right3{
    margin-right: 10px;
    height:5px;
}
.header_left{
    display: flex;
    align-items: center;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_input > input{
    flex: 1;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .pad{
      padding-right: 10px;
      height: 30px;
      width: 30px;
  }