@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color:darkgray;

}
li, a, button{
    font-family: 'PT Serif', serif;
    font-weight: 500;
    font-size: 16px;
    color:azure;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    cursor: pointer;
}

button{
    padding: 9px 25px;
    background-color:black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:rgb(209, 205, 205);
}

.container{
    display: flex;
    height: 500px;
    width: 500px;
    border: 1px solid white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    
}
h2{
    font-size: 50px;
}

/* Login Form */
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:black;

}
.form h2{
    font-size:xx-large ;
    font-family: cursive;
    /* font-family: Helvetica; */
    margin: 50px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 20px;
    border: 1px solid whitesmoke;
    outline: none;
    border-radius: 20px;

}
#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background-color:aliceblue;
}
.form a{
    text-decoration: none;
    color:aliceblue;
    margin-top: 20px;

}
.form a:hover{
    color: #fd4e4e;
}

.imageback{
    background-image: url(https://external-preview.redd.it/Z-mdOCdgw53wluJKQdklW2-WwJEcd3zXoER3YNl-euI.jpg?auto=webp&s=9da2a0406734c547c7bc489c5fa20b091c7ee86c);
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}