.sidebar1{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
}

.sidebarRow_icon{
    color: #606060;
    font-size: large !important;
}


.sidebarRow_title{
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sidebar1:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.sidebar1:hover > .sidebarRow_icon{
    color:lightseagreen;
}

.sidebar1:hover > .sidebarRow_title{
    font-weight: bold;
}

.sidebar1.selected{
    background-color: lightgray;
}

.sidebar1.selected > .sidebarRow_icon{
    color:lightseagreen;
}

.sidebar1.selected > .sidebarRow_title{
    font-weight: bold;
}

