.videoCard{
    margin-bottom: 40px;
    width:260px;
}

.videoCard_thumbnail{
    height: 160px;
    width: 250px;
}

.videoCard_info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: gray;

}

.videoCard_text{
    margin-left: 15px;

}

.videoCard_avatar{
    height: 30px !important;
    width: 30px !important;
}